extends Template
block variables
	-	var title = 'Главная страница'
block content
	.content-container
		.first-block
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/f14a.jpg')
					p F-14A
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/f15e.jpg')
					p F-15E
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/f22.jpg')
					p F-22
		.first-block
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/f111.jpg')
					p F-111
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/mig23.jpg')
					p МИГ-23
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/mig31.jpg')
					p МИГ-31
		.first-block
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/su24.jpg')
					p СУ-24
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/su27.jpg')
					p СУ-27
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/su34.jpg')
					p СУ-34
		.first-block
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/x2.jpg')
					p X-2
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/x43.jpg')
					p X-43
			.first-block-item
				.first-block-item-item
					img(src='C:/Users/1/Desktop/lab_6/img/gallary/XB70.jpg')
					p XB-70
